Source: crochet
Section: python
Priority: optional
Maintainer: Vincent Vinet <vince.vinet@gmail.com>
Homepage: https://crochet.readthedocs.org/
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 9), python-all (>= 2.6.6.3~), python-sphinx,
    python-twisted-core (>= 11.1)

Package: crochet
Architecture: all
Suggests: crochet-docs
Depends: ${python:Depends}, python-twisted-core (>= 11.1)
Description: Use Twisted from threaded applications

Package: crochet-docs
Architecture: all
Description: Crochet html docs
Depends: ${sphinxdoc:Depends}
