#!/usr/bin/make -f

%:
	dh $@ --with=python2,sphinxdoc

override_dh_installdocs:
	sphinx-build docs build/html
	dh_installdocs -pcrochet-docs build/html

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build
	rm -rf *.egg-info
